.speech{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
}
.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14x;
    color: black ;
    background-color: rgb(171, 230, 190);
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color:black ;
}
.stage-direction:hover{
    background-color:rgb(158, 128, 240);
    color: rgb(255, 255, 255);
}
.ORLANDO{
    color:rgb(207, 36, 36);
}
.ADAM{
    color:rgb(41, 33, 153);
}
.OLIVER{
    color:rgb(79, 187, 70);
}

table{
     border: solid 3px rgb(99, 45, 224);
     border-collapse: separate;
     padding: 6px;
     margin: 6px;
 }
 th,td{
    border:dashed 1px black;
    text-align:center;
 }
 tr:nth-child(odd){
    background-color:rgb(45, 155, 82);
 }
 .name:hover{
    text-shadow:3px 5px 7px rgb(63, 72, 205);
    border: solid 3px;
    border-style:ridge;
   }